#main {
  background-color: #2b2727;
  color: whitesmoke;
  height: 100vh;
  text-align: center;
  /* background-image: url("bg.jpg"); */
}

#form-control {
  padding-top: 20vh;
}
input {
  padding: 5px;
  margin: 5px;
}
button {
  background-color: tomato;
}
