#main {
  background-color: #312525;
  height: 100vh;
  text-align: center;
}

#form-control {
  padding-top: 20vh;
}
input {
  padding: 5px;
  margin: 5px;
}
.box {
  border: 2px solid rgb(151, 130, 130);
  margin-top: 5px;
  padding: 5px;
}
button {
  background-color: tomato;
}
